
{% extends "movieplanet/layout/admin.html" %}


{% block content %}
<div class="container d-flex justify-content-center">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<style>
    .bootstrap-select{
        width: 100%!important;
        margin-bottom: 20px!important;
    }
</style>
<!-- <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" />  -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" />  -->
<div class="container mt-2">
    <div class="btn-container"></div>
    <div class="row">
        <div class="col-12">
            <table id="customer_table"  class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>
        </div>

      </div>
  
</div>

<!-- Add Edit -->
<div class="modal fade" id="addEditModel" tabindex="-1" role="dialog" aria-labelledby="EditModel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" method="post" id="addEditForm">
        {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="addEditModelTitle">Modal Edit</h5>
            </div>
            <div class="modal-body" id="user-action">

               
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save </button>
            </div>
      </form>
    </div>
</div>


<!-- Role -->
<div class="modal fade" id="RoleModal" tabindex="-1" role="dialog" aria-labelledby="RoleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" method="post" id="RoleForm">
        {% csrf_token %}

            <div class="modal-header">
                <h5 class="modal-title" id="EditModelTitle">Modal Role</h5>
            </div>
            <div class="modal-body">
                <div id="user-id"></div>
                <div class="form-group">
                    <label class="form-label">Group</label>
                    <select class="mul-group" name="group[]" multiple id="user-group"  data-live-search="true">    
                    </select>
                </div>


                <div class="form-group">
                    <label class="form-label">Role</label>
                    <select class="mul-group" name="role[]" multiple id="user-role"  data-live-search="true">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save </button>
            </div>
      </form>
    </div>
</div>


<!-- Delete -->
<div class="modal fade" id="DelModel" tabindex="-1" role="dialog" aria-labelledby="DelModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content" method="post" id="EditForm">
        {% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title" id="DelModelTitle">Modal Delete</h5>
                
            </div>
            <div class="modal-body">
                        <div class="form-group">
                            <label for="content">Are you sure</label>
                            <input type="hidden" name="action" value="DELETE">
                            <input type="hidden" name="delid"  >
                        </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"> </script>  -->
<!-- <script src= "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"> </script>     -->
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $(document).ready( function () {
        $('.mul-group').selectpicker();
        // $(".group-select").select2({});
        // $(".role-select").chosen(); 
        loadData()
    })


    function loadData(){
        $('table.display').DataTable({
            "processing" : true,
			"serverSide" : true,
            pageLength : 4,
            ajax: function (data, callback, settings) {
                var api = this.api();
                var search = api.search() 
                var pageInfo = api.page.info();
                pgno = pageInfo.page+1;
                
                $.ajax({
                    url: "{{ settings.BASE_URL }}",
                    method:"POST",
                    headers: {'X-CSRFToken': csrftoken},
                    data:{start:pgno, length:4,search:search,type:'FETCH'}
                }).then ( function( json, textStatus, jqXHR ) {
                    // console.log(json)
                    $('.btn-container').html(json.permission)
                    //  json["data"] = json["aaData"];
                    //  json["recordsTotal"] = json["aaData"];
                     callback(json);
                });
            },
            // pageLength: 10,
            columns: [
                { data: "id" },
                { data: "name" },
                { data: "email" },
                { data: "action" },
                
            ],
         
        });
    }
   



</script>

{% endblock %}